@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #fff;
  line-height: 1.5em;
  font-weight: 300;
  margin: 0;
  background-color: #222;
}

a {
  color: #fff;
  text-decoration: none;
}

.items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.item {
  width: 300px;
  height: 200px;
  display: inline-block;
  position: relative;
}
.front,
.back {
  position: absolute;
  transition: 0.5s;
}
.front {
  text-align: center;
  height: inherit;
  background-color: #333;
  width: 100%;
  top: 0;
  z-index: 1;
}
.front img {
}
.front h2 {
  margin-top: 0;
}
.back {
  background-color: #fff;
  color: #000;
  height: inherit;
  text-align: center;
  padding: 20px;
  top: 0;
  box-sizing: border-box;
  opacity: 0;
}
.back p {
  font-size: 15px;
}
.back a {
  background-color: yellowgreen;
  color: white;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 13px;
}
.back a:hover {
  background: #000;
}
.item:hover .front {
  top: -50%;
}
.item:hover .front img {
  animation: ani 1s linear infinite;
}
.item:hover .back {
  top: 50%;
  opacity: 1;
}

@keyframes ani {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
